* {
	cursor: url('img/tongue.png'), auto;
}

#canvas {
	background-image: url('img/von-hinten.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.top-left {
	position: absolute;
	top: 2.5%;
	left: 2.5%;
}

#scoreText {
	font-size: 7.5vh;
}